body {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #222;
}
h6 {
  text-transform: uppercase;
  font-size: 12px;
}
.logo {
  height: 100px;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.og-image-wrapper{
  position: relative;
}
#canvas {
  position: relative;
  border-bottom: 1px #ccc solid;
  cursor: move;
  /* Real size is too big */
  /*transform: scale(0.5,0.5);  */
  margin-left:-300px;
  margin-top:-158px;
  margin-bottom:-150px;
  -webkit-transform: scale(0.5,0.5);
  transform: scale(0.5,0.5);
  -moz-transform: scale(0.5,0.5);
  /*translate(-159px,-150px);*/
}
.fb-preview {
  margin: auto;
  max-width: 1200px;
  width: 600px;
  border: 1px #ccc solid;
  background-color: #ffffff;
  border-radius: 1px;
}
.fb-title {
  font-family: Georgia, 'lucida grande',tahoma,verdana,arial,sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  margin: 5px 12px;
  max-height: 110px;
  overflow: hidden;
  word-wrap: break-word;
}
.fb-content {
  font-family: helvetica, arial, sans-serif;
  color: #141823;
  font-size: 12px;
  max-height: 132px;
  margin: 10px 12px;
  position: relative;
}
.fb-link-wrapper {
  padding-top: 9px;
  position: relative;
}
.fb-link, .fb-link input {
  font-family: helvetica, arial, sans-serif;
  font-size: 11px;
  line-height: 11px;
  text-transform: uppercase;
  color: #9197a3;
  max-height: 132px;
  margin: 10px 12px;
  position: relative;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
input.inline-edit{
  /* Eliminate borders and padding */
  border: none;
  padding: 0;
  margin: 0;
  text-overflow: ellipsis;

  /* Inherit the parent element's typography */
  font: inherit;
  color: inherit;
  line-height: inherit;
  font-size: inherit;
  text-align: inherit;

  /* Seems to help alignment in headers */
  vertical-align: top;
}

/* Add interaction cues on hover and focus */
input.inline-edit:hover,
input.inline-edit:focus{
/* Change the background to a light yellow */
background-color: #FFD;
text-overflow: initial;
/* A subtle transition never hurts */
-webkit-transition: background-color 0.5s;
   -moz-transition: background-color 0.5s;
    -ie-transition: background-color 0.5s;
        transition: background-color 0.5s;
}
.full-width {
width: 100%;
}

/* Editing Panel */
.text-field {
  height: 60px;
}
.switch-label {
  font-size: 12px;
}
.url-field {
  display: none;
}

.btn-file {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.test-url-panel{
  display:none;
}
pre code {
  display: block;
  padding: 0.5em;
  background: #333333;
  color: #eeeeee;
}

code {
  margin: 20px;
  background-color: #333333;
  border-color: #dfdfdf;
  border-style: solid;
  border-width: 1px;
  color: #ffffff;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-weight: normal;
  padding: 0.11111rem 0.27778rem 0.05556rem;
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}